.chatBot {
  display: block;
}

.chatBotBox {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.catImage {
  display: bl;
  width: 500px;
  padding: 35px 500px;
}

.chatBotBtn {
  width: 50px;
}
