* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 50px;
  font-family: 'Noto Sans KR', sans-serif;
}

.chatbot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot-box {
  width: 250px;
  padding: 35px;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
}

.chatbot-image {
  width: 350px;
  padding: 15px;
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  border: none;
  border-radius: 10px;
}

input {
  margin-right: 10px;
  background-color: #fff2cc;
}

button {
  border-radius: 10px;
  background-color: #ffd966;
}
